In [1]:
#reading data
import pandas as pd
df = pd.read_csv("pokemon_data.csv")

#read each row 
#for index, row in df.iterrows():
#    print(index, row)

#df.loc[df["Type 1"] == "Fire"]
#df.describe()
#df.sort_values(["Type 1", "Name"],ascending=[False,True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

In [2]:
#making changes 
df["Total"] = df["HP"]+df["Attack"]+df["Defense"]+df["Sp. Atk"]+df["Sp. Def"]+df["Speed"]
#df["Average"] = (df["HP"]+df["Attack"]+df["Defense"]+df["Sp. Atk"]+df["Sp. Def"]+df["Speed"]+df["Generation"])/5
#df=df.drop(columns=["Average"])
cols = list(df.columns.values)
df = df[cols[0:4]+[cols[-1]]+cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
#saving data frame
df.to_csv("modified.csv",index=False)
df.to_excel("modified.xlsx",index=False)